.grid-container {
    display: grid;
    grid-template-areas:
        "header header content"
        "sidebar sidebar content"
        "footer footer content";
    grid-gap: 10px;
    padding: 10px;
}

.header {
    grid-area: header;
    background-color: #2196F3;
    padding: 20px;
    text-align: center;
    justify-self: center;
}

.sidebar {
    grid-area: sidebar;
    background-color: #f3f3f3;
    padding: 20px;
    text-align: center;
}

.content {
    grid-area: content;
    background-color: #ffeb3b;
    padding: 20px;
    text-align: center;
}

.footer {
    grid-area: footer;
    background-color: #4CAF50;
    padding: 20px;
    text-align: center;
}

@media (max-width:500px) {
    .grid-container {
        display: grid;
        grid-template-areas:
            "header header header"
            "sidebar sidebar sidebar"
            "content content content"
            "footer footer footer";
        grid-gap: 10px;
        padding: 10px;
    }
}